<h1>Your TO DO list</h1>
<table>
  <% @tasks.each do |task| %>
<div class="tasks">
    <p><%= task.completed ? "v" : "x" %></p>
    <p><%= link_to "#{task.title}", task_path(task) %></p>
    <p><%= task.details %></p>
    <p><%= link_to "edit", edit_path(task) %></p>
    <p><%= link_to "delete", destroy_path(task), method: :delete %></p>
</div>
  <% end %>
</table>

<%= link_to "create a new task", new_path , class: 'btn' %>



